<html>
<head>
    <title>MapTracker 0.005</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript">
      var mapLoadOptions = { lat: <%= lat %>, lng: <%= lng %>, zoom: <%= zoom %>};
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/nodeServer.js"></script>
    <script type="text/javascript" src="/js/dom.js"></script>
    <script type="text/javascript" src="/js/mapTracker.js"></script>
    <script type="text/javascript">
        window.onload = () => {
          startSocket();
        }
    </script>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            color: black;
            border: 1px solid black;
            padding: 2px;
        }

        td {
            border: 1px solid black;
            padding: 2px;
        }

        td a {
            display: block;
            width: 100%;
            padding: 2px;
        }

        td.zoom {
            color: red;
            text-align: center;
            padding: 2px;
        }

        td.center {
            color: blue;
            text-align: center;
        }

        .center {
            color: blue;
            text-align: center;
        }

        .numericCell {
            color: dodgerblue;
            text-align: right;
            float: right;
        }

        tbody.scrollContent {
            overflow: auto;
            width: 100%
        }

        button {
            font-size: large;
        }
    </style>
</head>
<body onkeydown="keyEventDn" onkeyup="keyEventUp">
<table>
    <tr>
        <td width="<%= mapWidth %>" height="<%= mapHeight %>">
            <div id="map" style="height:100%; width:100%;"></div>
        </td>
        <td>
            <table>
                <tr>
                    <td class="center">
                        <button onclick="saveRoute()">Save</button>
                    </td>
                    <td class="center">
                        <button onclick="loadRoute()">Load</button>
                    </td>
                    <td>
                        <label for="fname">Name of file</label>
                        <input type="text" id="fname" name="fname">
                    </td>
                </tr>
            </table>
            <div>
            CENTER POINT
            <table id="centerTable">
                <thead>
                <tr>
                    <th>LAT</th>
                    <th>LNG</th>
                    <th>ZOOM</th>
                </tr>
                </thead>
                <tbody id="center">
                <tr>
                    <td class="center" id="cntr_lat"></td>
                    <td class="center" id="cntr_lng"></td>
                    <td class="zoom" id="zoom"></td>
                </tr>
                </tbody>
            </table>
            </div>
            &nbsp;
            <div style="<%= listStyle %>">
                MARKED POINTS (click to add)
                <table id="latLngTable">
                    <thead>
                    <tr>
                        <th>LAT</th>
                        <th>LNG</th>
                        <th>LEG</th>
                        <th>DIST</th>
                        <th>DEL</th>
                    </tr>
                    </thead>
                    <tbody id="list">
                    </tbody>
                </table>
            </div>
            <div style="<%= listStyle %>">
                TARGET POINTS (shift-click to add)
                <table id="targetTable">
                    <thead>
                    <tr>
                        <th>NAME</th>
                        <th>LAT</th>
                        <th>LNG</th>
                        <th>DEL</th>
                    </tr>
                    </thead>
                    <tbody id="targets">
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initTheMap"
        async defer></script>
</body>
</html>
